header {
  font-size: 48px;
  background-color: aquamarine;
  padding-left: 12px;
  border: 5px;
  border-color: black;
  border-radius: 5px;
}

body {
  background-color: blue;
}

section{
  background-color: aquamarine;
  border-radius: 5px;
}

ul {
  padding: 12px;
  list-style-position: inside;
}

ul li {
  font-size: large;
}

ul li :hover {
  color: blueviolet;
}
